
  <div class="col-md-12">
    <div class="row justify-content-center">
      <% if end_users.exists? %>
        <% end_users.each do |end_user| %>
         <div class="pl-4">
          <%= link_to end_user_path(end_user) do %>
            <%= image_tag end_user.get_profile_image(100,100) ,class: "shadow p-3 mb-3 bg-body round" %>
          <% end %>
          <p><i class="fas fa-user"></i>:<%= end_user.name %></p>
          <!--<% if end_user.introduction.nil? %>   紹介文が「空」のままだとエラーが出るのでnil?=trueの時を追加-->
            <p><i class="fas fa-pen-square"></i><% end_user.introduction %></p>
          <% else %>
            <p class="word" style="width: 140px;"><i class="fas fa-pen-square"></i><%=safe_join(end_user.introduction.split("\n"),tag(:br))%></p>
           <!--#紹介文が「空」じゃない時は正常に反映する-->
          <% end %>

          <p>
              follows: <%= end_user.followings.count %>
              followes: <%= end_user.followers.count %>
          </p>
          <p><%= link_to end_user_path(end_user), class: "fas_button2" do %>
          Show<% end %></p>
        </div>
        <% end %>
    </div>
      <% else %>
    <div class="container">
      <div class="font-weight-bold d-flex align-items-center justify-content-center" style="height:200px;">
       <p>ユーザーはいません</p>
      </div>
    </div>
      <% end %>
  </div>


