<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% item = notification.item %>

<div>
 <% if notification.action=='dm' %>
   <%= link_to end_user_path(visitor) do %>
     <%= visitor.name %>
   <% end %>
    さんがあなたにChatを送りました！
    <span><%= time_ago_in_words(notification.created_at).upcase %>
          <%= link_to notification_path(notification.id), method: :delete do %>
           <i class="fas fa-trash-alt" style="color: #e6c5cf"></i><% end %>
    </span>
 <% else %>
   <%= notification_form(notification) %>
   <span><%= time_ago_in_words(notification.created_at).upcase %>
         <%= link_to notification_path(notification.id), method: :delete do %>
          <i class="fas fa-trash-alt" style="color: #e6c5cf"></i><% end %>
   </span>
         <% if !@comment.nil? %>
          <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
         <% end %>
 <% end %>
</div>
<br>


