<div class="container">
  <div class="row align-items-center">
    <div class="col-auto mx-auto">
      <br>
        <h3>Edit Item</h3>
          <%= form_with model: @item, url: item_path, method: :patch do |f| %>
            <div class="field">
            <%= f.label :画像 %><br />
            <%= f.file_field :image, accept: "image/*" %>
            </div>
            <div class="field">
              <%= f.label :category %><br />
              
              
                <div class='form-group'>
                 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            　   
                  <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                  <% end %>
                  
                <% end %>
                 
              </div>
              
                
             
                  
                  
                
              <%#= render 'items/tag' %>
           
            <div class="field">
              <%= f.label :品名 %><br />
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :おすすめPoint %><br />
              <%= f.text_area :body %>
            </div>
            <div class="field">
               <div class="form-group row" id="star">
                <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %><br />
                <div class="star-rate<%= @item.id %>"></div>
              </div>
            </div>
            <%= f.submit "Update", class: 'fas_button_round' %>
            
          <!-- 評価javascript -->
            <script>
            $('.star-rate<%= @item.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: '<%= @item.star %>',
            });
          </script>
      <% end %>
           <br>
         <div class="text-center">
           <%= link_to 'Back', @item, class: "item_#{@item.id}" %> |
  		     <%= link_to 'Box Items', items_path, class: "back" %> 
         </div>
    </div>
  </div>
</div>