<br>
  <h2 class= "text-center">Box Items</h2>
  <%= render 'items/tagsearch' %>
  <%= render 'items/sort' %>
 <br>
   <div class="col-md-12">
    <div class="row justify-content-center">
    <% @items.each do |item| %>
        <div class="pl-5">
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size:'80x80', class: "shadow p-3 mb-4 bg-body round" %>
          <% end %>
          <p style="color:#bdd8dd"><i class="fas fa-heart" aria-hidden="true" style="color: #e6c5cf;"></i>
           <%= item.favorites.count %> 個</p>
          <!--<p class="favorite_buttons_<%#= item.id %>"><%#= render 'favorites/favorite', item: item %></p>-->
          <p><% item.tags.each do |tag| %>
              <span class= 'badge badge-light'><a style="color:#e6c5cf"><%= tag.name %></a></span>
              <% end %></p>
          <h5>品名</h5>
          <p><%= link_to item.name,item, class: "item_#{item.id}" %></p>
          <h5>Good ポイント</h5>
          <p><%= item.body %></p>
          <!--<td id="favorite_buttons_<%#= book.id %>"><%#= render "favorites/favorite-btn", book: book %></td>-->
                <!--<td><%#= render "book_comments/counter", book: book %></td>-->
          <h5>評価</h5> <p id="star-rate<%= item.id %>"></p>
          <script>
            $('#star-rate<%= item.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: '<%= item.star %>',
            });
          </script>
        </div>
      <% end %>
    </div>
    <br>
    <div class="row justify-content-center"><%= paginate @items %></div>
  </div>
  <br>
