<%= render 'items/tagsearch' %>
   <div class="col-md-12">
    <div class="row justify-content-center">


    <% @items.each do |item| %>
        <div class="pl-4">
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image, size:'80x80', class: "shadow p-3 mb-5 bg-body round" %>
          <% end %>
          <p>Category: <% item.tags.each do |tag| %>
                        <span class= 'badge badge-light'><a style="color:#e6c5cf"><%= tag.name %></a></span>
                        <% end %></p>
          <p>品名: <%= link_to item.name,item, class: "item_#{item.id}" %></p>
          <p>Good ポイント: <%= item.body %></p>
          <!--<td id="favorite_buttons_<%#= book.id %>"><%#= render "favorites/favorite-btn", book: book %></td>-->
                <!--<td><%#= render "book_comments/counter", book: book %></td>-->
          <P>評価: <div id="star-rate<%= item.id %>"></div></P>
          <script>
            $('#star-rate<%= item.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: '<%= item.star %>',
            });
          </script>
        </div>
      <% end %>
      
    </div>
    <br>
    <div class="row justify-content-center"><%= paginate @items %></div>
  </div>
