

<div class="container">

<!--<div class='backimage' style="background: url(<%#= asset_path "layout.png" %>)center center / contain no-repeat fixed;">-->
  <div class="row align-items-center justify-content-center">
    <div class="col-auto mx-auto">
      <br>
      <br>
        <h3>New Item</h3>
          <%= form_with model: @item, url: items_path, method: :post do |f| %>
            <div class="field">
            <%= f.label :画像 %><br />
            <%= f.file_field :image, accept: "image/*" %>
            </div>
            <div class="field">
              <%= f.label :category %><br />
              <div class='form-group'>
                 <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                  　<%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                    <% end %>
                 <% end %>
              </div>
            </div>
            <div class="field">
              <%= f.label :品名 %><br />
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.label :おすすめPoint %><br />
              <%= f.text_area :body, rows: "5"%>
            </div>
            <div class="field">
               <div class="form-group row" id="star">
                <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %><br />
                <%= f.hidden_field :star, id: :review_star %>
              </div>
            </div>
          <!-- 評価javascript -->
            <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',

              scoreName: 'item[star]',
              half: false,
            });
            </script>

            <%= f.submit "Create", class: 'fas_button_round' %>
        <% end %>
    </div>
  </div>
</div>





