<h5 class="text-center" style="color: #76a1b8"><%= flash[:notice] %></h5>
<div class=" container">
  <div class="col-md-12">
    <div class="row justify-content-center">
     <div class="pl-9">
       <br>
       <div class ="text-center">
          <div id="star-rate<%= @item.id %>"></div>
           <script>
          $('#star-rate<%= @item.id %>').empty();
            $('#star-rate<%= @item.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: '<%= @item.star %>',
            });
          </script>
          <br>
          <div><%= link_to items_path do %>
            <%= image_tag @item.get_image, size: "300x300", class:"shadow p-3 mb-2 bg-body round"; %>
            <% end %></div>
          <span><%= link_to end_user_path(@end_user.id) do %>
                  <%= image_tag @item.end_user.get_profile_image(30,30), class:"mt-3 rounded-circle"; %>By
                <%= @item.end_user.name %><% end %></span> |
          <span class="item-comments-counter"><%= render 'item_comments/counter', item: @item %></span> | <span class="view-counts-count"><%= render 'view_counts/count', item: @item %></span>
      </div>
          <span class="favorite_buttons_<%= @item.id %>"><%= render 'favorites/favorite', item: @item %></span>
          <h5><% @item.tags.each do |tag| %>
              <span class= 'badge badge1'><a style="color:#af9dc0"><%= tag.name %></a></span>
             <% end %>
          </h5>
          <p><strong><i class="far fa-gem"></i>: <span><%= @item.name %></span></strong></p>
          <p class="word" style="width: 280px;"><strong><i class="fas fa-pen"></i>: <span><%=safe_join(@item.body.split("\n"),tag(:br))%></span></strong></p>
          <div class ="text-center">
            <% if @item.end_user == current_end_user %>
              <p><%= link_to edit_item_path(@item), class: "fas_button_border" do %>
                  <i class="fas fa-cog"></i> Edit
                 <% end %>
                 <%= link_to item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "fas_button_border" do %>
                  <i class="fas fa-trash-alt"></i> Delete
                 <% end %>
              </p>
            <% end %>
          </div>
        <div><%= render "item_comments/form", item: @item, item_comment: @item_comment %></div>
        <br>
        <div class="item-comments-comment"><%= render 'item_comments/comment', item: @item %></div>
        <br>
     </div>
    </div>
  </div>
</div>
