<div class="card w-50 mx-auto mt-4" style="background-color:#F4ECFB">
   <div class="card-body">
     <div class= "row justify-content-center">
      <div id="star-rate<%= @item.id %>"></div>
       <script>
        $('#star-rate<%= @item.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: '<%= @item.star %>',
        });
      </script>
    </div>
    <br>
  <div class="text-center"><%= link_to items_path do %>
    <%= image_tag @item.get_image, size: "300x300", class:"shadow p-3 mb-2 bg-body round"; %>
  <% end %>
  </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-1">
        <%= link_to end_user_path(@end_user.id) do %>
        <%= image_tag @item.end_user.get_profile_image(80,80), class:"mt-3 rounded-circle"; %>
        <% end %>
      </div>
      <div class="col-8">
          <span class="favorite_buttons_<%= @item.id %>"><%= render 'favorites/favorite', item: @item %></span>
         <p class="card-title">
            <% @item.tags.each do |tag| %>
            <span class= 'badge badge-light'><a style="color:#e6c5cf"><%= tag.name %></a></span>
            <% end %>
        </p>
        <p class="card-text">
            <strong><i class="fa-solid fa-gift"></i> <span><%= @item.name %></span></strong>
        </p>
        <p class="card-text">
          <strong><i class="fa-regular fa-thumbs-up"></i> <span><%= @item.body %></span></strong>
        </p>
       <span><i class="fas fa-user"></i> By <%= @item.end_user.name %> ｜</span>
        <span class="item-comments-counter"><%= render 'item_comments/counter', item: @item %></span>
        <div><%= render "item_comments/form", item: @item, item_comment: @item_comment %></div>
        <br>
      </div>
    </div>
  </div>
 <div class="item-comments-comment">
     <%= render 'item_comments/comment', item: @item %>
 </div>
</div>
<br>
      <div class ="row justify-content-center">
        <% if @item.end_user == current_end_user %>

            <p><%= link_to edit_item_path(@item), class: "fas_button_border" do %>
                 <i class="fa-solid fa-cog fa-spin" style="--fa-animation-duration: 15s; color:#fff"></i> Edit
                 <% end %>
            <%= link_to item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "fas_button_border" do %>
                 <i class="fa-regular fa-trash-can"></i> Delete
                 <% end %>
            </p>
        <% end %>
      </div>
      <br>













