  <br>
  <h2 class= "text-center">Members</h2>
  <br>
  <%= render 'end_users/search', q: @q %>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <% @end_users.each do |end_user| %>
        <div class="pl-4">
          <%= link_to end_user_path(end_user) do %>
          <%= image_tag end_user.get_profile_image(100,100) ,class: "shadow p-3 mb-3 bg-body round" %>
          <% end %>
          <p><i class="fas fa-user"></i>:<%= end_user.name %></p>
          <% if end_user.introduction.nil? %>
            <p><i class="fas fa-pen-square"></i><% end_user.introduction %></p>
          <% else %>
            <p class="word" style="width: 140px;"><i class="fas fa-pen-square"></i><%=safe_join(end_user.introduction.split("\n"),tag(:br))%></p>
           <!--#紹介文が「空」じゃない時は正常に反映する-->
          <% end %>
          <div class="card-body text-center">
              <% unless current_end_user == end_user %>
                <% if current_end_user.following?(end_user) %>
                 <%= link_to "フォローを外す", end_user_relationships_path(end_user.id), method: :delete, class: "fas_button2" %>
                <% else %>
                 <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "fas_button2" %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <%= paginate @end_users %>
    </div>






