<br>
<h2 class= "text-center"><i class="fas fa-users"></i> Members</h2>
  <br>
    <div class="col-md-12">
      <div class="row justify-content-center">
      <% if @results.exists? %>
        <% @results.each do |end_user| %>
          <div class="pl-4">
            <%= link_to end_user_path(end_user) do %>
              <%= image_tag end_user.get_profile_image(100,100) ,class: "shadow p-3 mb-3 bg-body round" %>
            <% end %>
            <p><i class="fas fa-user"></i>:<%= end_user.name %></p>

              <% if end_user.introduction.nil? %>
                <i class="fas fa-pen-square"></i>:<% end_user.introduction %>
              <% else %>
               <p class="word" style="width: 140px;"><i class="fas fa-pen-square"></i> <%=safe_join(end_user.introduction.split("\n"),tag(:br))%></p>
               <!--#紹介文が「空」じゃない時は正常に反映-->
              <% end %>

            <div class="card-body text-center">
                <% unless current_end_user == end_user %>
                  <% if current_end_user.following?(end_user) %>
                   <%= link_to "フォローを外す", end_user_relationships_path(end_user.id), method: :delete, class: "fas_button2" %>
                  <% else %>
                   <%= link_to "フォローする", end_user_relationships_path(end_user.id), method: :post, class: "fas_button2" %>
                  <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Memberはいません</p>
      <% end %>
      </div>
    </div>
<br>
<div class="row justify-content-center">
  <%= link_to end_users_path, class: 'fas_button_round' do %>
  Back<% end %>
</div>
<br>