<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col-auto mx-auto">
      <h2><%= @end_user.name %> <i class="fas fa-box-open"></i> BOX</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-auto text-center text-md-left">
      <h3>Profile</h3>
       <br>
       <div class="row justify-content-center">
          <div class="pl">
            <%= image_tag @end_user.get_profile_image(100,100) ,class: "shadow p-3 mb-2 bg-body rounded-circle" %>
            <h5 style="color:#e6c5cf">Name</h5><p><%= @end_user.name %></p>
            <% if @end_user.introduction.nil? %>
              <h5 style="color:#e6c5cf">Introduction</h5><p><% @end_user.introduction %></p>
            <% else %>
              <h5 style="color:#e6c5cf">Introduction</h5><p class="word" style="width: 140px;"><%=safe_join(@end_user.introduction.split("\n"),tag(:br))%></p>
             <!--# 紹介文が「空」じゃない時は正常に反映-->
            <% end %>
            <p><% if !(@end_user.name == "guestuser") %>
                 <%= link_to edit_end_user_path(@end_user) do %>
                 <button class="fas_button_borderradius"><i class="far fa-edit"></i> Edit</button>
                 <% end %>
               <% end %>
            </p>
            <p style="color:#e6c5cf">
              follows<%= link_to end_user_followings_path(@end_user.id) do %>
                <%= @end_user.followings.count %>
              <% end %> </p>
            <p style="color:#e6c5cf">followers<%= link_to end_user_followers_path(@end_user.id) do %>
                <%= @end_user.followers.count %>
              <% end %></p>

            <p><% unless current_end_user == @end_user %>
                <% if current_end_user.following?(@end_user) %>
                 <%= link_to "フォローを外す", end_user_relationships_path(@end_user.id), method: :delete, class: "fas_button2" %>
                <% else %>
                 <%= link_to "フォローする", end_user_relationships_path(@end_user.id), method: :post, class: "fas_button2" %>
                <% end %>
               <% end %>
            </p>
            <p><%= render 'end_users/entry', end_user: @end_user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %></p>
            <p><% if @end_user == current_end_user %>
               <%= render 'notifications/sign' %>
               <% end %>
            </p>
          </div>
       </div>
    </div>
    <%= render 'end_users/box', end_user: @end_user, tag_id: @tag_id, items: @items %>
  </div>
</div>
